.Menu {
  display: block;
  width: 150px;
  height: 100vh;
  position: fixed;
  float: left;
  background-color: #23045e;
  color: white;
}

.Menu ul {
  list-style: none;
  padding-left: 0%;
  font-size: 15px;
}

.Menu li {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-top: 10px;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
